<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="div">
        <h2>person list</h2>
        <input type="text" name="" placeholder="请输入关键词" v-model="keyWord">
        <ul>
            <li v-for="(p,index) of filterPersons" :key="p.id">
                {{p.name}}-{{p.age}}--{{p.gender}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;

        new Vue({
            el: 'div',
            data: {
                keyWord: '',
                persons: [
                    { id: '001', name: '马冬梅', age: '18', 'gender': 'female' },
                    { id: '002', name: '周冬雨', age: '19', 'gender': 'female' },
                    { id: '003', name: '周杰伦', age: '20', 'gender': 'male' },
                    { id: '004', name: '温兆伦', age: '20', 'gender': 'male' }
                ],

            },
            // 写函数时一定一定要把data折叠起来！！不然很容易把函数写道data里面
            computed: {
                filterPersons() {
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                }
            }
        })
    </script>
</body>

</html>