<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document upload</title>
</head>
<body>
    <h2>文件上传</h2>\
    <hr>
    <form action="/portrait" method="post" enctype="multipart/form-data">
        <!-- 在提交文件时需要加  enctype 属性-->
        <input type="text" name="username" placeholder="username" id=""> <br>
        <input type="file" name="portrait" id=""><br>
        <hr>
        <button>tijiao</button>
      
    </form>
</body>
</html>