/* #region base set */
.container {
    width: 1190px;
    margin: 0 auto;

}

/* #endregion base set */

/* #region topbar  */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}

/* #region welcome */
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666666;
}

.welcome span,
a {
    font-size: 12px;
}

.welcome-text {
    margin-right: 28px;
}

.login-in {
    padding-right: 10px;
    border-right: 1px solid #666666;

}

.login-out {
    padding-left: 10px;
}

/* #endregion welcome */

/* #region topbar-nav */


.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid #666666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0;
    /* 在css中选择器只有在li这些 */
}

.topbar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}

/* #endregion topbar-nav */

/*  #endregion  topbar*/

/* #region hearder */
.header {
    height: 120px;
    background-color: pink;
}

.search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

.search form {
    margin-top: 42px;
    font-size: 0;
    /* 当两个行内元素之间有缝隙时，让它们的父元素font-size 为0 就可以了； 如果两个元素水平不对齐用 vertical-align不是默认就行 */
}

.search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion hearder */

/* #region main-nav */

.main-nav {
    height: 49px;
    border-bottom: 1px solid #DD302D;
}

.total-goods {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
}

.main-nav-lists li {
    float: left;

}

.main-nav-lists li a {
    font-size: 16px;
    line-height: 48px;
    margin: 0 10px;

}

/* #endregion main-nav */

/* #region main-content */
.main {
    margin-top: 10px;
}

.slide,
.banner,
.other {
    float: left;
    height: 458px;
}

.slide,
.banner {
    margin-right: 10px;
}

/* #region slide */
.slide {
    width: 190px;
    background-color: #F4F4F4;
    position: relative;
}

.main-content .slide li {
    /* margin: 7px 0;   
    很容易想到用 margin 或者padding 来设置高度，但是还有种更快捷的方法设置列表的高度  行高。 而且用上面的那些高度和设计稿上的不一样，行高能完美解决问题*/
    padding-left: 16px;
    height: 28px;
    line-height: 28px;
}

.main-content .slide li .second-menu {
    width: 700px;
    height: 458px;
    position: absolute;
    background-color: #F4F4F4;
    top: 0;
    left: 190px;
    display: none;
}

.main-content .slide-nav li:hover .second-menu {
    display: block;
}

.second-menu dl {
    width: 670px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.second-menu dt,
dd {
    float: left;
}

.second-menu dt {
    font-weight: bold;
    padding-right: 10px;
    width: 70px;
    height: 20px;
}

.second-menu dd a {
    padding: 0 10px;
    border-left: solid 1px #999999;
}

.main-content .slide li:hover {
    background-color: #DD302D;
}

.main-content .slide li a {
    font-size: 14px;
}

.main-content ul>li a:hover {
    color: white;
}

/* #endregion slide */

/* #region banner */
.banner {
    width: 690px;
}

/* #endregion banner */

/* #region other */
.other {
    width: 290px;
}

/* #region top */
.other .top {
    width: 260px;
    height: 156px;
    border: solid 1px #D9D9D9;
    margin-bottom: 10px;
    padding: 0 14px;
}

.other .top .brief {
    width: 262px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: solid 1px #D9D9D9;
}

.other .top .brief a {
    font-size: 14px;
    width: 262px;
    height: 14px;

}

.other .top ul li a:hover {
    color: #DD302D;
}

.other .top li {
    margin: 6px 0;
}

.other .top li:first-child {
    margin-top: 8px;
}

/* #endregion top */

/* #region bottom */
.other .bottom {
    width: 290px;
    height: 290px;
    overflow: hidden;
}

.other .bottom ul:first-child {
    margin-top: 16px;
}

.other .bottom ul:nth-child(2) {
    margin: 17px 0;
}

.other .bottom li {
    width: 48px;
    height: 70px;
    float: left;
    margin: 0 11px;
    text-align: center;
}

.other .bottom li .picture {
    width: 48px;
    height: 48px;
    background-image: url(../images/精灵图-侧边功能.png);
    cursor: pointer;
}

.other .bottom li:first-child {
    margin-left: 16px;
}

.other .bottom ul:nth-child(1) li:nth-child(1) .picture {
    background-position: 0 0;
}

.other .bottom ul:nth-child(1) li:nth-child(2) .picture {
    background-position: -48px 0;
}

.other .bottom ul:nth-child(1) li:nth-child(3) .picture {
    background-position: -96px 0;
}

.other .bottom ul:nth-child(1) li:nth-child(4) .picture {
    background-position: -144px 0;
}

.other .bottom ul:nth-child(2) li:nth-child(1) .picture {
    background-position: 0 -48px;
}

.other .bottom ul:nth-child(2) li:nth-child(2) .picture {
    background-position: -48px -48px;
}

.other .bottom ul:nth-child(2) li:nth-child(3) .picture {
    background-position: -96px -48px;
}

.other .bottom ul:nth-child(2) li:nth-child(4) .picture {
    background-position: -144px -48px;
}

.other .bottom ul:nth-child(3) li:nth-child(1) .picture {
    background-position: 0 -96px;
}

.other .bottom ul:nth-child(3) li:nth-child(2) .picture {
    background-position: -48px -96px;
}

.other .bottom ul:nth-child(3) li:nth-child(3) .picture {
    background-position: -96px -96px;
}

.other .bottom ul:nth-child(3) li:nth-child(4) .picture {
    background-position: -144px -96px;
}

/* #endregion bo        ttom */
/* #endregion other */

/* #endregion main-content */

/* #region next-content */
.next-content {
    margin-top: 10px
}

.next-content img {
    float: left;
    margin-right: 10px;
    height: 190px;
    width: 240px;
}

.next-content img:last-child {
    margin-right: 0;
}

.next-content img:nth-child(1) {
    width: 190px;
}

/* #endregion next-content */

/* #region detail_products */
.floor {
    margin-top: 48px;
}

/* #region floor-nav */
.floor-nav {
    border-bottom: solid 2px#DD302D;
    height: 30px;
    line-height: 30px;
}

.floor-nav span {
    font-size: 20px;
    font-weight: bold;
}

.floor-nav ul li {
    float: left;
}

.floor-nav ul li a {
    font-size: 14px;
    padding: 0 10px;
    border-right: solid 1px #666;
}

.floor-nav ul li:first-child a {
    padding-left: 0;
}

.floor-nav ul li:last-child a {
    padding-right: 0;
    border: 0;
}

/* #endregion floor-nav */

/* #region floor-detail */


.floor-detail>div {
    float: left;
    height: 432px;
}

.floor-detail .item1 {
    width: 190px;
    height: 392px;
    padding: 20px;
    background-color: #F4F4F4;
}

.floor-detail .item1 li {
    width: 90px;
    height: 22px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid#D9D9D9;
    text-align: center;
    font-size: 16px;
}

.floor-detail .item1 li:nth-child(2n-1) {
    float: left;
}

.floor-detail .item1 li:nth-child(3),
.floor-detail .item1 li:nth-child(4) {
    margin: 14px 0;
}

.floor-detail .item1 li:nth-child(2n) {
    float: right;
}

.floor-detail .item1 img {
    margin-top: 30px;
}

.floor-detail .item2 {
    width: 340px;
}

.floor-detail .item3,
.item4,
.item5 {
    width: 206px;
    border-right: 1px solid #E2E2E2;
}

.floor-detail .item5 {
    border-right: 0;
}

/* #endregion floor-detail */

/* #endregion detail_products */

/* #region footer */

/* #region footer-top */
.footer {
    height: 440px;
    background-color: #483E3E;

}

.links-list {
    float: left;
    width: 190px;
    height: 176px;
    margin-top: 48px;
    margin-right: 10px;
}

.links-list:last-child {
    margin-right: 0;
}

.links-list a {
    font-size: 14px;
}

.footer a,
.copyright {
    color: white;
}

.bottom-links-list li {
    float: left;
}

/* #endregion footer-top */

.line {
    border-bottom: 1px solid pink;
    margin-top: 22px;
    margin-bottom: 47px;
}

.bottom-links {
    text-align: center;
}

.bottom-links-list {
    display: inline-block;
}

.bottom-links-list li a {
    padding: 0 26px;
    border-right: 1px solid #D9D9D9;
}


/* #endregion footer */